body{
  /*width:100%;
  height:100%;*/
  margin:0;
  padding:0;
}
div{
  width:100%;
  height:100%;
}
.y{
  float:right;
}
#main{
  height:100%; width:100%;border:0px;
}
.d1{
  height:100%;float:left;border:0px;
}
.nav{
  position:fixed;
  height:100%;
  background:#2a2a2a;
  width:170px;
}

.nav-up ul{
  list-style:none;
  padding-left:0;
  padding-top:0;
}
.nav-up-jianshu{
  background-color:#e78170;
}
.nav-up li{
  font-size:14px;
  width:170px;
  height:40px;
  margin-bottom:16px;
  margin-top: -16px;
  text-indent:8px;
  line-height:40px;
}
.nav-up ul li a{
  text-decoration:none;
  margin-top:16px;
  color:#ffffff;
}
.nav-up ul li:hover{
  background-color:#e78170;
}
.nav-down{
  position:absolute;
  height:100px;
  bottom:0;
  color:#999999;
}
.nav-down ul{
  list-style:none;
}
.nav-down li{
  text-indent:-10px;
  height:40px;
}
.nav-down ul li a{
  text-decoration:none;
  color:#999999;
}
.nav-down ul li a:hover{
  color:#eeeeee;
}
.cover-img{
  position:fixed;
  width:480px;
  height:100%;
  left:170px;
  bottom:0;
  background-position:center;
  background-size:cover;
}
.cover-bottom{
  text-indent:30px;
  height:200px;
  position:absolute;
  bottom:52px;
  color:#ffffff;
}
#write-button{
  background-color:#49be38;
  margin:10px 0 0 30px;
  padding:13px 22px 10px 41px;
  text-decoration:none;
  color:#ffffff;
}
.fluid{
  height:100%;
  margin-left: 650px;
}
.mainpage{
  position:relative;
  float:left;
}
.list{
  position:fixed;
  border-bottom:2px solid #d9d9d9;
  height: 52px;
  font-size:12px;
  top:0;
  left:650px;
  background:#fff;
}
.list1{
  border-bottom: 2px solid #555555;
  padding-bottom:17px;
  padding-right:21px;
}
.list ul{
  list-style:none;
  margin-left:-25px;
}
.list li{
  float:left;
  margin-top: 6px;
}
.list li a{
  color:#9999b2;
  text-decoration:none;
  height:20px;
  margin-left:20px;
}
.list li a:hover{
  color:#555555;
  background:#eeeeee;
}
/*.search{
  margin-left: 658px;
}
/*.searchimg{
  margin: -47px 0 34px 38px;
}*/
.searchlogo{
  width:180px;
  height:30px;
  -webkit-border-radius:15px;
  border:1px solid #9999b2;
  margin: -5px 0 39px 622px;
  float:left;
}
.saerchlogo:hover{
  border:1px solid #75b9f0;
}
.icon-search{
  margin-left:-44px;
}
.pages{
  width:957px;
  margin-top: 60px;
}
.page{
  list-style:none;
  margin:-8px 0 0 -36px;
  height: 109px;
}
.page li{
  text-indent:18px;
  float:left;
  margin-top: 15px;
}
.page li a{
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 14px;
  text-decoration:none;
  margin-top: 15px;
}
.page1{
  color:#ffffff;
  background-color:#e78170;
}
.wrapimg{
  float:right;
  margin-top: -6px;
}
.wrap{
  list-style:none;
  margin-left:-10px;
}
.wrap-top{
  font-size: 12px;
  height:8px;
}
.wrapname{
  color: #4094c7;
}
.title{
  height: 8px;
}
.title a{
  color:#555555;
}
.wrap li{
  height:103px;
  border-bottom:1px dashed #d9d9d9;
}
.wrap li a{
  text-decoration:none;
}
.wrap-footer{
  color:#999999;
  font-size:12px;
  height:20px;
}
.wrap-footer:hover{
  color:#717171
}

.wrap-footer a{
  color:#999999;
}
.wrap-footer a:hover{
  color:#717171
}
